@import "tailwindcss";

@keyframes dotFade {
  0%,
  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.dot-1 {
  animation: dotFade 1s infinite;
}

.dot-2 {
  animation: dotFade 1s infinite 0.2s;
}

.dot-3 {
  animation: dotFade 1s infinite 0.4s;
}
